
html,body {
    height: 100%;
    margin: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
table {
    border-collapse: collapse;
    width: 550px;
    margin: auto;
}
td{
    border: 1px solid black;
    text-align: center;
    padding: 20px;
}
.inclinaison{
    transform: rotate(-15deg);
}
.inclinaison2{
    transform: rotate(+15deg);
}